body {
    margin: 0;
    font-family: "Inter";
    line-height: 1.5;
}

@font-face {
    font-family: "Inter";
    src: url(material/Inter.ttf);
}

nav,
.navbutton,
.quoter {
    align-items: center;
}

/*Header, Teamshero, Barkies*/
#teamshero,
.quoter {
    display: flex;
    justify-content: center;
}

#barkyfree,
.barkyfreebutton {
    background-color: #121212;
    color: #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-weight: 550;
}

#barkyfree,
.barkyfreebutton,
.mainimg {
    border-radius: 5px;
}

#teamshero2 p,
.imgntext p,
.imgntext #quote {
    color: #666666;
}


/*Header*/
nav {
    display: flex;
    justify-content: left;
    margin: 0 15px;
    padding: 15px 0;
    border-bottom: 2px solid #e5e5e5;
}

#brand {
    background-image: url(material/brand.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    margin: 0 20px 0 0;
}

nav a {
    color: #050505;
    font-size: 14px;
    font-weight: 550;
}

.navbutton {
    padding: 6px;
    display: flex;
}

.navbutton:hover {
    background-color: #f4f4f4;
    border-radius: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navcaret {
    width: 8px;
    height: 8px;
    padding: 0 2px;
}

#request {
    margin-left: auto;
}

#divider {
    color: #e5e5e5;
    padding: 0 8px;
}

#barkyfree {
    margin-left: 10px;
    padding: 6px 12px;
}

#burger {
    width: 20px;
    height: 20px;
    position: absolute;
    display: none;
}

/*Header*/
#barkyfree:hover {
    background-color: #353535;
}

/*Main*/
main {
    max-width: 1000px;
    margin: 0 auto;
}

/*Teamshero*/
#teamshero {
    gap: 80px;
    padding: 60px 0;
}

#teamshero2 {
    padding-top: 15px;
}

#teamshero2,
#teamsheroimg {
    width: 460px;
}

#teamshero2 h2 {
    font-size: 45px;
    margin: 10px 0 0;
}

#teamshero2 p {
    font-size: 15px;
    padding: 5px 0 20px 0;
    margin: 0;
}

.barkyfreebutton {
    display: inline-block;
    margin: 5px 0;
    font-size: 15px;
    padding: 8px 12px;
}

.barkyfreebutton:hover {
    background-color: #353535;
}

/*Sponsorer*/
#sponsor {
    display: grid;
    grid-row: 1fr 1fr;
    gap: 25px;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    padding: 35px 0;
    margin: 0 auto 50px;
}

.sponsorgroup,
.sponsorrow {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sponsorimg {
    width: 115px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#sponsor9,
#sponsor10 {
    background-position: right;
}

#sponsor12 {
    background-position: left;
}

#sponsor1 {
    background-image: url(material/company-logo-01.png);
}

#sponsor2 {
    background-image: url(material/company-logo-02.png);
}

#sponsor3 {
    background-image: url(material/company-logo-03.png);
}

#sponsor4 {
    background-image: url(material/company-logo-04.png);
}

#sponsor5 {
    background-image: url(material/company-logo-05.png);
}

#sponsor6 {
    background-image: url(material/company-logo-06.png);
}

#sponsor7 {
    background-image: url(material/company-logo-07.png);
}

#sponsor8 {
    background-image: url(material/company-logo-08.png);
}

#sponsor9 {
    background-image: url(material/company-logo-09.png);
}

#sponsor10 {
    background-image: url(material/company-logo-10.png);
}

#sponsor11 {
    background-image: url(material/company-logo-11.png);
}

#sponsor12 {
    background-image: url(material/company-logo-12.png);
}

#sponsor13 {
    background-image: url(material/company-logo-13.png);
}

/*Barkies*/
.imgntext {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 30px;
}

.imgntext h3 {
    max-width: 420px;
    font-size: 36px;
    margin: 20px 0 0 0;
}

.toppara {
    max-width: 450px;
    font-size: 15px;
    line-height: 1.5;
    margin: 5px 0 15px;
}

.mainimg {
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.quote {
    font: 650 36px "Inter";
    text-align: center;
    margin: 40px 5px 10px;
}

.quoter {
    gap: 10px;
    padding: 15px;
}

#quotername {
    font: 550 15px "Inter";
    line-height: 1.5;
}

#quoterposition {
    font: 450 12px "Inter";
    color: #7f7f7f;
}

.quoter img {
    width: 50px;
    height: 50px;
}

/*Grå-ruta mm*/
#ovangråruta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    margin: 40px auto;
    padding: 90px 0 70px;
}

#ovangråruta h3,
#ovangråruta p,
#ovangrårut a {
    text-align: center;
}

#ovangråruta h3,
#ovangråruta p,
#ovangrårut a {
    width: 55%;
}

#ovangråruta h3 {
    font-size: 36px;
    margin: 0;
}

#ovangråruta p {
    color: #666;
    font-size: 15px;
    margin: 10px 0;
}

#ovangråruta a {
    margin-bottom: 60px;
}

#gråruta {
    width: 52%;
    background-color: #f4f4f4;
    color: #666;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

#gråruta .underlinje {
    height: 2px;
    background-color: #e5e5e5;
}

#gråruta img {
    width: 14.5px;
    height: 14.5px;
}

#svarttext {
    color: #050505;
}

.grårutacontent {
    display: flex;
    justify-content: space-between;
}

#svarttext,
.grårutacontent {
    font-size: 15px;
}


/*Built for every team*/
#built {
    text-align: center;
    margin: 0 auto;
}

#built h3 {
    font-size: 36px;
    text-align: center;
    padding: 30px 0 0;
    margin: 0;
}

.pgrå {
    color: #666;
    padding: 0 30px;
    margin: 10px 0;
}

.pgrå,
#builtrow a {
    font-size: 15px;
}

#builtrow a,
#builtrow h4 {
    margin: 0;
}

#builtrow h4 {
    font-size: 24px;
}

#builtrow {
    display: grid;
    grid-template-columns: 1fr 1.5px 1fr 1.5px 1fr;
    padding: 30px 0;
}

.divider2 {
    width: 1.5px;
    height: 120px;
    background-color: #e5e5e5;
}

#builtrow a {
    color: #050505;
    font-weight: 450;
    text-decoration: underline;
}

#builtrow a:hover {
    color: #087fe7;
}

/*See why dogs love us*/
#built #h32 {
    margin: 70px 0 30px;
}

#dogslove {
    display: flex;
    gap: 6%;
}

#g2column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 43%;
    margin: 0 0 0 auto;
}

#g2column h4 {
    margin: 0;
    font-size: 24px;
}

#g2column p {
    font-size: 15px;
    margin: 8px 0;
}

#g2column a {
    color: #050505;
    text-decoration: underline;
}

#badges {
    width: 48%;
    height: 190px;
    padding-bottom: 20px;
}

#statistik {
    display: grid;
    grid-template-columns: 1fr 1.5px 1fr 1.5px 1fr 1.5px 1fr;
    justify-self: center;
    margin: 40px auto;
    text-align: center;
}

.statistik {
    display: flex;
    flex-direction: column;
    color: #666;
}

.statistik h1 {
    margin: 0;
    padding: 0 40px;
    font-size: 53px;
}

.statistik p {
    margin: 0;
    font-size: 18px;
}

.statdivider {
    width: 1.5px;
    background-color: #e5e5e5;
}

#barkytoday {
    margin: 80px auto;
    text-align: center;
}

#barkytoday h3 {
    margin: 0;
    font-size: 36px;
}

#barkytoday p {
    margin: 5px 0 10px;
    font-size: 15px;
    color: #666;
}

/*Footer*/
footer {
    margin: 0 15px;
    border-top: 2px solid #e5e5e5;
}

#container {
    margin: 20px 120px;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.columnfoot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columnfoot a,
.columnfoot div {
    font-size: 14px;
    margin: 0;
}

.columnfoot a {
    color: #666;
    font-weight: 450;
}

.columnfoot div {
    font-weight: 650;
}

.columnfoot img {
    width: 130px;
    height: 30px;
    padding: 0 5px 20px;
}

.columnfoot #socials img {
    width: 20px;
    height: 20px;
    padding-bottom: 30px;
}

.columnfoot #socials img,
.columnfoot p {
    padding-left: 5px;
}

.columnfoot .smalltext {
    font-size: 13.5px;
}

#socials {
    display: flex;
}

/*mobilversion*/
@media (max-width:600px) {

    /*Nav*/
    nav .navbutton,
    nav #divider,
    nav #barkyfree {
        display: none;
    }

    #burger {
        position: relative;
        display: inline;
        margin-left: auto;
        padding: 5px 8px;
    }

    #burger:hover {
        background-color: #f4f4f4;
        padding: 5px 8px;
        border-radius: 3px;
    }

    nav {
        padding: 10px 0;
        border-bottom: none;
    }

    #brand {
        position: relative;
        right: 5px;
    }

    /*Teamshero*/
    #teamshero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
        text-align: center;
    }

    #teamshero img {
        width: 70%;
    }

    #teamshero2 {
        padding: 0;
    }

    #teamshero2 h2 {
        line-height: 1;
    }

    #teamshero2 p {
        padding: 10px 0 15px;
    }

    /*Sponsorer*/
    #sponsor {
        max-width: 440px;
        padding: 30px 0;
    }

    .sponsorgroup {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sponsorimg {
        width: 90px;
    }

    /*Barkies*/
    .imgntext {
        align-items: center;
    }

    .mainimg {
        width: 430px;
        margin: 40px 0;
    }

    .toppara,
    .quote {
        margin: 0;
        text-align: center;
    }

    .quote {
        width: 440px;
        font-size: 24px;
        font-weight: 550;
    }

    /*Gråruta mm*/
    #ovangråruta {
        width: 86%;
    }

    #gråruta {
        width: 78%;
    }

    /*Built for every team*/
    #builtrow {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pgrå {
        margin: 10px;
    }

    .divider2 {
        display: none;
    }

    #built #h32 {
        margin-top: 30px;
    }

    #dogslove {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    /*See why dogs love us*/
    #g2column {
        max-width: 390px;
    }

    #badges {
        width: 380px;
        height: 160px;
    }

    #statistik {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .statistik p {
        margin: 5px 0 0;
    }

    /*Footer*/
    #container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 2fr;
        gap: 20px;
        padding-bottom: 0;
        margin: 20px 0 0;
    }

    #socialsetc {
        grid-area: 1/1/2/3
    }

    .columnfoot img {
        padding: 0 5px 10px;
    }

    .columnfoot #socials img {
        padding-bottom: 0;
    }

    .columnfoot .smalltext {
        margin: 10px 0 0;
    }
}